
.Titulo img{    
    height: 60px;
    width: 80%;
}

.Header-Container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: black;
    padding: 10px;
}


.btn-group {
    height: 40px;
}

.Img-inicial img{
    width: 100%;
}

.HomeContente{
    display: grid;
    grid-template-rows: 70px 250px 300px;
}

.Row-Titulo-Home h2{
    font-size: 40px;
    text-align: center;
}

.Row-Body-Home{
    letter-spacing: 2px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 5%;
}

.Row-foot-Home{
   
    padding: 10px;
    
    
}

.Row-foot-Home img{
    height: 250px;
    width: 250px;
    margin-left: 40%;
    margin-right: 40%;
    
}